aiohttp==3.8.4
aioserial==1.3.1
aiosignal==1.3.1
annotated-types==0.6.0
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
clr-loader==0.2.5
contourpy==1.0.7
cycler==0.11.0
dukpy==0.3.0
eval-type-backport==0.1.3
filelock==3.12.2
fonttools==4.40.0
frozenlist==1.3.3
greenlet==2.0.2
hanging-threads==2.0.5
idna==3.4
kiwisolver==1.4.4
matplotlib==3.6.3
minimalmodbus==2.0.1
multidict==6.0.4
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
psutil==5.9.5
pycparser==2.21
pycryptodomex==3.15.0
pydantic-core==2.16.2
pydantic==2.6.1
PyPAC==0.16.4
pyparsing==3.1.0
pyserial==3.5
PySide2==5.15.2.1
pysmithplot-fork==0.2.1
pysweepme~=1.5.7.2
python-certifi-win32==1.6.1
python-dateutil==2.8.2
python-dispatch==0.2.2
pythonnet==3.0.1
pytz==2023.3
pyusb==1.2.1
PyVISA==1.13.0
pywin32==306
requests-file==1.5.1
requests==2.31.0
scikit-rf==0.27.1
scipy==1.9.1
setuptools-scm==7.1.0
shiboken2==5.15.2.1
six==1.16.0
SQLAlchemy==2.0.17
tblib==2.0.0
tinyaes==1.0.4
tldextract==3.4.4
tomli==2.0.1
typing-extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
websockets==11.0.3
WMI==1.5.1
wrapt==1.15.0
yarl==1.9.2
